<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oops, 404!</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <br> 
    <a href={{link}}>Go Back</a>
    </div>
    {{>footer}}
</body>
</html>