<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h2>{{message}}</h2>
    <button id='btn'>{{Button}}</button>
    <script src="/static/1.js"></script>
    </div>
    {{>footer}}
</body>
</html>